body { font-family: 'Times New Roman', Times, serif; margin: 0; background: #f4f4f9; }
header { background: #82401c; color: white; padding: 15px; text-align: center; }
.container { padding: 20px; }
.card { background: white; border-radius: 8px; padding: 15px; margin: 20px; box-shadow: 0 2px 6px rgba(0,0,0,0.1); }
table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
th, td { border: 1px solid #ccc; padding: 10px; text-align: center; }
th { background: #eee; }
td[contenteditable="true"] { background: #fafafa; cursor: text; }
header { background: #6b0619d0; color: white; padding: 15px; text-align: center; }
button { background: #6b0619d0; color: white; border: none; padding: 8px 30px; border-radius: 5px; cursor: pointer; }
button:hover { background:#82401c; }
input { padding: 5px; margin-right: 5px; }
.main-image { display: block; margin: 20px auto; max-width: 90%; border-radius: 12px; }
.save-delete-buttons { text-align: center; margin-bottom: 20px; }
#login-page { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }
.login-box { background: rgba(248, 248, 248, 0.967); padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); width: 300px; text-align: center; }
.login-box input { width: 90%; padding: 8px; margin: 8px 0; border-radius: 5px; border: 1px solid #ccc; }
.show-pass { font-size: 14px; color: #555; }